{% extends "base.html" %} 
{% block content %} 
<div class="flex bg-white mt-5 rounded-md m-2">
  <div class="w-1/2 flex justify-center items-center py-5">
    <img src="{{ book.image.url }}" class="max-w-full" style="max-width: 400px;" alt="Book Image">
  </div>
  <div class="w-1/2 p-4">
    <div class="bg-white p-6">
      <h5 class="text-2xl font-bold mb-4">
        <a href="#" class="text-blue-500 ">{{ book.title }}</a>
      </h5>
      <p class="text-gray-600 mb-2">Description: {{ book.description }}</p>
      <p class="text-gray-600 mb-2">Category Name: {{ book.category }}</p>
      <p class="text-gray-600 mb-2">Price: {{ book.price }} $</p>
      {% if user.is_authenticated %}
      <a href="{% url 'purchase_book' book.id %}" class="flex items-center justify-center w-full p-3 font-semibold tracking bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-2 rounded">Borrow</a>
      {% endif %}
    </div>
  </div>
</div>



{% if reviews %}
<div class="card mt-4 m-2 bg-white rounded-md  px-10">
  <h5 class="card-header py-5">Total Review: {{ reviews | length }}</h5>
  <div class="card-body pb-2">
    {% for c in reviews %}
    <hr>
      <div class="card mb-3 pb-2 pt-5">
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <h5 class="mt-0 text-lg font-bold">
                  <span class="opacity-50">By</span> {{ c.name }}
              </h5>            
              <p>{{ c.body }}</p>
              <p>{{ c.created_on }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="card mt-4 m-2 bg-white rounded-md p-5">
  <div class="card-body">
    <form method="POST" enctype="multipart/form-data">
      <h1 class="mb-4 text-2xl font-bold">Add Review</h1>
      {% csrf_token %}
      <div class="mb-4">
        <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Name</label>
        <input id="name" type="text" name="name" placeholder="Your name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
        <input id="email" type="email" name="email" placeholder="Your email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>
      <div class="mb-4">
        <label for="body" class="block text-gray-700 text-sm font-bold mb-2">Body</label>
        <textarea id="body" name="body" placeholder="Your review" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
      </div>
      {% if user.is_authenticated %}
      <button type="submit" class="flex items-center justify-center w-full p-3 font-semibold tracki bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mt-2 rounded">Submit</button>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}