asgiref
certifi
crispy-bootstrap5
distlib
dj-database-url
Django
django-crispy-forms
django-email
django-environ
EasyProcess
entrypoint2
filelock
MouseInfo
mss
numpy
opencv-contrib-python
package_name
Pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
sqlparse
typing_extensions
tzdata
virtualenv
virtualenvwrapper-win